In [6]:
#DATA CLEANING 
import pandas as pd
import numpy as np


df = pd.read_csv('outttput.csv')
print('Shape of data: ', df.shape) #Displaying total number of rows and columns

Shape of data:  (197092, 24)

In [7]:
#Displaying first few rows of the Dataframe

print(df.head())

   TreeID    qLegalStatus                                    qSpecies  \
0  168225  DPW Maintained  Arbutus 'Marina' :: Hybrid Strawberry Tree
1  168228  DPW Maintained  Arbutus 'Marina' :: Hybrid Strawberry Tree
2  189160  DPW Maintained           Afrocarpus gracilior :: Fern Pine
3  189158  DPW Maintained           Afrocarpus gracilior :: Fern Pine
4  189161  DPW Maintained           Afrocarpus gracilior :: Fern Pine

          qAddress  SiteOrder                     qSiteInfo PlantType  \
0  2547 Vallejo St        1.0  Sidewalk: Curb side : Cutout      Tree
1  2547 Vallejo St        4.0  Sidewalk: Curb side : Cutout      Tree
2  100 Kissling St        3.0                             :      Tree
3  100 Kissling St        1.0                             :      Tree
4  100 Kissling St        4.0                             :      Tree

  qCaretaker qCareAssistant PlantDate  ...        YCoord   Latitude  \
0    Private            NaN       NaN  ...  2.117588e+06  37.794558
1    Private            NaN       NaN  ...  2.117593e+06  37.794575
2    Private            NaN       NaN  ...  2.109401e+06  37.772473
3    Private            NaN       NaN  ...  2.109420e+06  37.772528
4    Private            NaN       NaN  ...  2.109392e+06  37.772448

    Longitude                                           Location  \
0 -122.439869  ['{"address": "", "city": "", "state": "", "zi...
1 -122.439690  ['{"address": "", "city": "", "state": "", "zi...
2 -122.415179  ['{"address": "", "city": "", "state": "", "zi...
3 -122.415103  ['{"address": "", "city": "", "state": "", "zi...
4 -122.415210  ['{"address": "", "city": "", "state": "", "zi...

   Fire Prevention Districts  Police Districts  Supervisor Districts  \
0                       13.0               9.0                   1.0
1                       13.0               9.0                   1.0
2                        8.0               2.0                   9.0
3                        8.0               2.0                   9.0
4                        8.0               2.0                   9.0

  Zip Codes  Neighborhoods (old)  Analysis Neighborhoods
0      57.0                 27.0                    30.0
1      57.0                 27.0                    30.0
2   28853.0                 19.0                    20.0
3   28853.0                 19.0                    20.0
4   28853.0                 19.0                    20.0

[5 rows x 24 columns]

In [8]:
#Summary information of the DataFrame

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197092 entries, 0 to 197091
Data columns (total 24 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   TreeID                     197092 non-null  int64
 1   qLegalStatus               197035 non-null  object
 2   qSpecies                   197092 non-null  object
 3   qAddress                   195599 non-null  object
 4   SiteOrder                  195293 non-null  float64
 5   qSiteInfo                  197092 non-null  object
 6   PlantType                  197092 non-null  object
 7   qCaretaker                 197092 non-null  object
 8   qCareAssistant             24735 non-null   object
 9   PlantDate                  71081 non-null   object
 10  DBH                        153178 non-null  float64
 11  PlotSize                   146654 non-null  object
 12  PermitNotes                53767 non-null   object
 13  XCoord                     194132 non-null  float64
 14  YCoord                     194132 non-null  float64
 15  Latitude                   194132 non-null  float64
 16  Longitude                  194132 non-null  float64
 17  Location                   194132 non-null  object
 18  Fire Prevention Districts  193881 non-null  float64
 19  Police Districts           193934 non-null  float64
 20  Supervisor Districts       193995 non-null  float64
 21  Zip Codes                  193989 non-null  float64
 22  Neighborhoods (old)        193991 non-null  float64
 23  Analysis Neighborhoods     193991 non-null  float64
dtypes: float64(12), int64(1), object(11)
memory usage: 36.1+ MB
None

In [9]:
#Checking total number of null values in each column

print('Number of null records in data: \n',df.isnull().sum())

Number of null records in data:
 TreeID                            0
qLegalStatus                     57
qSpecies                          0
qAddress                       1493
SiteOrder                      1799
qSiteInfo                         0
PlantType                         0
qCaretaker                        0
qCareAssistant               172357
PlantDate                    126011
DBH                           43914
PlotSize                      50438
PermitNotes                  143325
XCoord                         2960
YCoord                         2960
Latitude                       2960
Longitude                      2960
Location                       2960
Fire Prevention Districts      3211
Police Districts               3158
Supervisor Districts           3097
Zip Codes                      3103
Neighborhoods (old)            3101
Analysis Neighborhoods         3101
dtype: int64

In [13]:
#Removing the columns that are not required

import pandas as pd

df = pd.read_csv('outttput.csv')
dataframe = df.drop(['Location', 'qCareAssistant', 'PlantDate' , 'PermitNotes'], axis=1)
#columns removed so much null values
print('Altered Dataframe:')
print(dataframe)

Altered Dataframe:
        TreeID    qLegalStatus  \
0       168225  DPW Maintained
1       168228  DPW Maintained
2       189160  DPW Maintained
3       189158  DPW Maintained
4       189161  DPW Maintained
...        ...             ...
197087  147801  DPW Maintained
197088   88807  Permitted Site
197089  211039  DPW Maintained
197090  224702  DPW Maintained
197091   62656  Permitted Site

                                                 qSpecies         qAddress  \
0              Arbutus 'Marina' :: Hybrid Strawberry Tree  2547 Vallejo St
1              Arbutus 'Marina' :: Hybrid Strawberry Tree  2547 Vallejo St
2                       Afrocarpus gracilior :: Fern Pine  100 Kissling St
3                       Afrocarpus gracilior :: Fern Pine  100 Kissling St
4                       Afrocarpus gracilior :: Fern Pine  100 Kissling St
...                                                   ...              ...
197087  Lyonothamnus floribundus subsp. asplenifolius ...     765 14th Ave
197088         Arbutus 'Marina' :: Hybrid Strawberry Tree       55 Page St
197089            Pinus canariensis :: Canary Island Pine  52 Burnside Ave
197090                 Ficus microcarpa :: Chinese Banyan     3236 24th St
197091              Prunus serrulata :: Ornamental Cherry  54 Carmelita St

        SiteOrder                       qSiteInfo PlantType qCaretaker   DBH  \
0             1.0    Sidewalk: Curb side : Cutout      Tree    Private   0.0
1             4.0    Sidewalk: Curb side : Cutout      Tree    Private   0.0
2             3.0                               :      Tree    Private   2.0
3             1.0                               :      Tree    Private   2.0
4             4.0                               :      Tree    Private   2.0
...           ...                             ...       ...        ...   ...
197087        1.0    Sidewalk: Curb side : Cutout      Tree    Private   3.0
197088       11.0    Sidewalk: Curb side : Cutout      Tree    Private   NaN
197089       10.0  Sidewalk: Property side : Yard      Tree    Private  23.0
197090        4.0    Sidewalk: Curb side : Cutout      Tree        DPW  19.0
197091        1.0    Sidewalk: Curb side : Cutout      Tree    Private   8.0

         PlotSize        XCoord        YCoord   Latitude   Longitude  \
0       Width 4ft  6.001191e+06  2.117588e+06  37.794558 -122.439869
1       Width 4ft  6.001243e+06  2.117593e+06  37.794575 -122.439690
2       Width 3ft  6.008159e+06  2.109401e+06  37.772473 -122.415179
3       Width 3ft  6.008181e+06  2.109420e+06  37.772528 -122.415103
4       Width 3ft  6.008150e+06  2.109392e+06  37.772448 -122.415210
...           ...           ...           ...        ...         ...
197087  Width 3ft  5.991624e+06  2.110228e+06  37.773801 -122.472433
197088        3x3  6.006333e+06  2.111428e+06  37.777937 -122.421638
197089        NaN  6.001157e+06  2.095726e+06  37.734530 -122.438418
197090  Width 3ft  6.007464e+06  2.102110e+06  37.752415 -122.417065
197091        NaN  6.002634e+06  2.108714e+06  37.770275 -122.434239

        Fire Prevention Districts  Police Districts  Supervisor Districts  \
0                            13.0               9.0                   1.0
1                            13.0               9.0                   1.0
2                             8.0               2.0                   9.0
3                             8.0               2.0                   9.0
4                             8.0               2.0                   9.0
...                           ...               ...                   ...
197087                       11.0               6.0                   2.0
197088                        7.0               9.0                  11.0
197089                        9.0               7.0                   5.0
197090                        2.0               4.0                   7.0
197091                       15.0               5.0                   5.0

        Zip Codes  Neighborhoods (old)  Analysis Neighborhoods
0            57.0                 27.0                    30.0
1            57.0                 27.0                    30.0
2         28853.0                 19.0                    20.0
3         28853.0                 19.0                    20.0
4         28853.0                 19.0                    20.0
...           ...                  ...                     ...
197087       54.0                 26.0                    29.0
197088    28852.0                 10.0                     9.0
197089       63.0                  7.0                    10.0
197090    28859.0                 19.0                    20.0
197091    29492.0                  9.0                     3.0

[197092 rows x 20 columns]

In [14]:
#Replacing all the null values with NA
import pandas as pd


print(dataframe.fillna('NA', inplace=True))

None

In [15]:
dataframe.to_csv('TreeplantCleaned.csv', index=False)