In [1]:
#Creating table for csv file using mysql 
#Installing Packages

%pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\carol\appdata\roaming\python\python39\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\carol\appdata\roaming\python\python39\site-packages (from mysql-connector-python) (3.20.3)
Note: you may need to restart the kernel to use updated packages.

In [1]:
#Importing the csv file into mysql to create a table

import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', user='root',
    password='Caroline@5')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("CREATE DATABASE X22114386Project")
        print("X22114386ProjectÂ  database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

Error while connecting to MySQL 1007 (HY000): Can't create database 'x22114386project'; database exists

In [2]:
#Creating new table name ElectricVehicleData to add the csv file 

import mysql.connector
import csv

# Connect to the MySQL database
conn = mysql.connector.connect( host="localhost",database="X22114386Project",user="root",password="Caroline@5")

if conn.is_connected():
 cursor = conn.cursor()
 cursor.execute("select database();")
 record = cursor.fetchone()
 print("You're connected to database.")
 cursor.execute('DROP TABLE IF EXISTS ElectricVehicleData;')  
 print('Creating table....')

 #creating table by inserting all the column names
 cursor.execute("CREATE TABLE ElectricVehicleData (VIN CHAR(50) NOT NULL, County CHAR(30) NOT NULL, City CHAR(30) NOT NULL, State CHAR(50) NOT NULL, Postal_Code CHAR(50) NOT NULL, Model_Year CHAR(30) NOT NULL, Make CHAR(50) NOT NULL, Model CHAR(50) NOT NULL, Electric_Vehicle_Type CHAR(100) NOT NULL, Clean_Alternative_Fuel_Vehicle_Eligibility CHAR(100) NOT NULL, Electric_Range CHAR(50) NOT NULL, Base_MSRP CHAR(50) NOT NULL, Legislative_District CHAR(50) NOT NULL, DOL_Vehicle_ID CHAR(50) NOT NULL, Vehicle_Location CHAR(50) NOT NULL, Electric_Utility CHAR(250) NOT NULL, 2020_Census_Tract CHAR(50) NOT NULL, Counties CHAR(50) NOT NULL, Congressional_Districts CHAR(50) NOT NULL, WAOFM_GIS CHAR(50) NOT NULL)")
 print("ElectricVehicleData table is created....")

You're connected to database.
Creating table....
ElectricVehicleData table is created....

In [3]:
#Inserting values of csv file into newly created table ElectricVehicleData

import mysql.connector
import csv
conn = mysql.connector.connect( host="localhost",database="X22114386Project",user="root",password="Caroline@5")

with open('Vehdata.csv', 'r') as f:

 reader = csv.reader(f)
 next(reader) # skip the header row
 for row in reader:
  # Insert each row into the database
  cursor = conn.cursor()
  
  #Inserting values into the created table
  cursor.execute("INSERT INTO ElectricVehicleData (VIN, County, City, State, Postal_Code, Model_Year, Make, Model, Electric_Vehicle_Type, Clean_Alternative_Fuel_Vehicle_Eligibility, Electric_Range, Base_MSRP, Legislative_District, DOL_Vehicle_ID, Vehicle_Location, Electric_Utility, 2020_Census_Tract, Counties, Congressional_Districts, WAOFM_GIS) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);", (row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9], row[10], row[11], row[12], row[13], row[14], row[15], row[16], row[17], row[18], row[19]))
  conn.commit()

#Closing the database connection

conn.close()

IndexError: list index out of range